<div class="link-pictures">
    <a routerLink>
        <div class="upper-pictures">
            <img src="assets/images/ns01_s.jpg" alt="ns" >
            <img src="assets/images/tamaya.jpg" alt="tamaya">
            <img src="assets/images/houseo_s02.jpg" alt="house">
        </div>
        <div class="lower-pictures">
            <img src="assets/images/diningbarzen_s.jpg" alt="dining">
            <img src="assets/images/tur801_s.jpg" alt="tur">
            <img src="assets/images/mimihana01_s.jpg" alt="mimihana">
        </div>    
    </a>
</div>